
body{
    background-color: rgb(206, 237, 255);
}

main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(171, 224, 254);
}

.nada{
    color: rgba(0, 255, 255, 0);
}

section{
    background-color: azure;
    border-radius: 40px;
    margin-top: 6%;
    padding: 1%;
}

.sobre{
    background-color: rgb(215, 216, 255);
    margin-top: 4%;
    padding: 3%;
}

.texto{
    font-size: 1.2rem;
}

.textosobre{
    font-size: 1.5rem;
    margin-top: 20%;
    color: rgba(0, 0, 0, 0.416);
    text-align: center;
    }

.textocomp{
    font-size: 1.5rem;
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(66, 66, 66);
    text-align: center;
    }


h1{
    text-align: center;
    font-size: 2rem;
    line-height: 1rem;
    margin-top: 5%;
    margin-bottom: 2%;
    color: black;
}

.h1esp{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    line-height: 0.8rem;
    margin-top: 2%;
    margin-bottom: 5%;
}

.minhaimg{
    width: 70%;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.cores{
    background-color: rgb(215, 216, 255);
    border-radius: 15px 30px 15px 30px;
}

.espa{
    margin-top: 1%;
}



